// variables.scss

$message-color: #E8E522;
$message-color-hover: #FFFB00;

$success-color: #25CD52;
$success-color-hover: #2EE65F;

$warning-color: #e99000;
$warning-color-hover: #FFA13D;

$scroll-scope-height: calc(95vh - 100px);
