/* =============================================================================
         App specific CSS file.
         ========================================================================== */

/* sass helpers */
$success-color: #43ac6a;
$success-color-hover: #5C8D60;

$warning-color: #e99002;
$warning-color-hover: #CBA23A;

$scroll-scope-height: calc(95vh - 100px);
@mixin vertical-align {
    // http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* universal */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.container-narrow{
    margin: 0 auto;
    max-width: 700px;
}

/* forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}

.form-register {
    width: 50%;
}

.form-register .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-horizontal .form-group {
    margin-right: 5px; /* otherwise form fields get slammed together */
}

label.big-check {
    font-size: 12pt;
    line-height:25px;
    font-weight: bold;
    > i {
        display: inline-block;
        font-size: 22px;
        line-height: 35px;
        width: 25px;
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999999;
}

footer a {
    color: #999999;
}

footer p {
    float: right;
    margin-right: 25px;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}

footer .company {
    float: left;
    margin-left: 25px;
}

footer .footer-nav {
    float: right;
    margin-right: 25px;
    list-style: none;
}

/* typography */

thead, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h2, h3 {
    font-size:12pt;
}
h4, h5 {
    font-size: 11pt;
    color: #666;
}
thead, h3 {
    font-size: 10pt;
    color: #666;
}

.login-page {
    background: #2a2f39;

    nav, footer {
        display:none;
    }

    .container {
        margin-top: 150px;
    }

    .auth_box {
        padding-top:20px;
    }

    .input-group-addon i{
        width: 15px;
    }

    .input-group{
        margin-bottom:20px;
    }

    #main_container {
        margin: 50px 50px;
    }
}
