{% extends "layout.html" %}

{% block content %}
<h1>Change Password</h1>
<div class="col-md-6 col-md-push-3 well well-lg top-buffer-lg">
  <form id="changePasswordForm" class="form form-change-password" method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{form.old.label}}
      {{form.old(class_="form-control")}}
    </div>
    <div class="form-group">
      {{form.password.label}}
      {{form.password(class_="form-control")}}
      <span class="help-block">Please include a mix of uppercase, lowercase, numbers, and symbols.</span>
    </div>
    <div class="form-group">
      {{form.confirm.label}}
      {{form.confirm(class_="form-control")}}
    </div>
    <div class="text-right">
      <button class="btn btn-primary btn-submit">Change Password</button>
    </div>
  </form>
</div>
{% endblock %}
